In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
csv_path= "C:/Users/karsa_000/Desktop/TPANDAS/purchase_data.csv"
csv_path

'C:/Users/karsa_000/Desktop/TPANDAS/purchase_data.csv'

In [4]:
purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [20]:
purchase_data.columns= ["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [29]:
tot_play= purchase_data[str("SN")].value_counts()
tot_play

Lisosia93         5
Iral74            4
Idastidru52       4
Lassilsala30      3
Pheodaisun84      3
Saedaiphos46      3
Tyidaim51         3
Yathecal82        3
Siallylis44       3
Chanastnya43      3
Ilarin91          3
Asur53            3
Strithenu87       3
Tyisur83          3
Chamjask73        3
Haillyrgue51      3
Silaera56         3
Hada39            3
Umolrian85        3
Inguron55         3
Idai61            3
Iskadarya95       3
Sondastsda82      3
Ialallo29         3
Phaena87          3
Aelin32           3
Rarallo90         3
Aina42            3
Chadolyla44       3
Hiaral50          3
                 ..
Sundadarla27      1
Aenarap34         1
Yarithrgue83      1
Frichaya88        1
Firon67           1
Yarithsurgue62    1
Assjaskan56       1
Raisty38          1
Quanenrian83      1
Irithlis29        1
Saena74           1
Hailaphos89       1
Layjask75         1
Chadistaya75      1
Sondossa69        1
Iathenudil29      1
Jiskossa61        1
Yana46            1
Ililsasya43       1
Haerith37         1
Firatan58         1
Aerithnucal56     1
Ithergue48        1
Lisossa46         1
Iadueria43        1
Yalo85            1
Lassirrasda85     1
Quanrion96        1
Aisur51           1
Aeda94            1
Name: SN, Length: 576, dtype: int64

In [33]:
players= tot_play.count()
players

576