In [2]:
import pandas as pd
import numpy as np
import glob
import os

In [3]:
csv_path= "C:/Users/karsa_000/Desktop/TPANDAS/purchase_data.csv"

In [4]:
purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [6]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [7]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [8]:
tot_play= purchase_data[str("SN")].value_counts().count()
tot_play

576

In [9]:
Total_players= pd.DataFrame({"Total players":[tot_play]})
Total_players
#Player Count

   Total players
0            576

In [10]:
uniqueit= purchase_data[str("Item ID")].value_counts().count()
uniqueit

183

In [11]:
num_purchases= purchase_data[str("Item ID")].count()
num_purchases

780

In [12]:
revenue= purchase_data[("Price")].sum()
revenue

2379.77

In [13]:
avg= purchase_data[("Price")].mean()
avg

3.050987179487176

In [14]:
Total= pd.DataFrame({"Number of Unique Items": [uniqueit],
                           "Average Price": [avg],
                           "Number of Purchases": [num_purchases],
                           "Total Revenue": [revenue]})
Total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [15]:
Total["Average Price"] = Total["Average Price"].map(
    "${0:,.2f}".format)
Total
Total["Total Revenue"] = Total["Total Revenue"].map(
    "${0:,.2f}".format)
Total
#Purchasing Analysis_Total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [16]:
pl= purchase_data["SN"].value_counts()
pl

Lisosia93         5
Iral74            4
Idastidru52       4
Lassilsala30      3
Raesty92          3
Umolrian85        3
Chamjask73        3
Tyisur83          3
Phyali88          3
Haillyrgue51      3
Hiaral50          3
Zontibe81         3
Lisim78           3
Siallylis44       3
Saedaiphos46      3
Phaena87          3
Iskadarya95       3
Aina42            3
Saistyphos30      3
Chanastnya43      3
Inguron55         3
Idai61            3
Tyidaim51         3
Ilarin91          3
Hada39            3
Sondastsda82      3
Chamimla85        3
Rarallo90         3
Aelin32           3
Pheodaisun84      3
                 ..
Frichirranya75    1
Rairin89          1
Farrian71         1
Itheria73         1
Jiskadarst60      1
Frichilsa31       1
Ennalmol65        1
Haestyphos66      1
Jeyciman68        1
Alo38             1
Tyaelly53         1
Assirra56         1
Sundim98          1
Sondimla25        1
Jiskirran77       1
Lisiriya82        1
Chanadar44        1
Idaisuir85        1
Aillyrin83        1
Iathem87          1
Hala31            1
Ilast79           1
Ryanara76         1
Marast30          1
Tyeurith29        1
Undotesta33       1
Yarithrin84       1
Tyaerith73        1
Aenarap34         1
Malil90           1
Name: SN, Length: 576, dtype: int64

In [17]:
gen= purchase_data[str("Gender")].value_counts()
gen

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [18]:
M = pd.DataFrame(purchase_data, columns=["SN","Gender","Age"])
M.head()

              SN Gender  Age
0        Lisim78   Male   20
1    Lisovynya38   Male   40
2     Ithergue48   Male   24
3  Chamassasya86   Male   24
4      Iskosia90   Male   23

In [19]:
pn = pd.DataFrame(M["SN"].unique())
pn

                  0
0           Lisim78
1       Lisovynya38
2        Ithergue48
3     Chamassasya86
4         Iskosia90
5           Yalae81
6         Itheria73
7       Iskjaskst81
8         Undjask33
9       Chanosian48
10        Inguron55
11     Haisrisuir60
12     Saelaephos52
13      Assjaskan73
14      Saesrideu94
15        Lisassa64
16        Lisirra25
17        Zontibe81
18        Reunasu60
19        Chamalo71
20     Iathenudil29
21    Phiarithdeu40
22     Siarithria38
23         Eyrian71
24          Siala43
25        Lisirra87
26       Lirtossa84
27          Eusri44
28           Aela59
29          Tyida79
..              ...
546    Chanosiaya39
547       Assylla81
548       Aidaira26
549        Eudanu84
550      Chamiman85
551     Tyialisti80
552       Marundi65
553         Eusur90
554   Mindirranya33
555    Phiallylis33
556          Isty55
557     Frichilsa31
558      Chanista95
559      Aellyria80
560   Rastynusuir31
561        Iljask75
562     Lisjaskan36
563   Mindjasksya61
564  Frichirranya75
565         Ilast79
566       Eratiel90
567         Assim27
568         Irith83
569       Ilosian36
570    Iskossasda43
571          Hala31
572      Jiskjask80
573      Aethedru70
574      Yathecal72
575         Sisur91

[576 rows x 1 columns]

In [20]:
pn.columns

RangeIndex(start=0, stop=1, step=1)

In [21]:
pn.columns = ['SN']
pn

                 SN
0           Lisim78
1       Lisovynya38
2        Ithergue48
3     Chamassasya86
4         Iskosia90
5           Yalae81
6         Itheria73
7       Iskjaskst81
8         Undjask33
9       Chanosian48
10        Inguron55
11     Haisrisuir60
12     Saelaephos52
13      Assjaskan73
14      Saesrideu94
15        Lisassa64
16        Lisirra25
17        Zontibe81
18        Reunasu60
19        Chamalo71
20     Iathenudil29
21    Phiarithdeu40
22     Siarithria38
23         Eyrian71
24          Siala43
25        Lisirra87
26       Lirtossa84
27          Eusri44
28           Aela59
29          Tyida79
..              ...
546    Chanosiaya39
547       Assylla81
548       Aidaira26
549        Eudanu84
550      Chamiman85
551     Tyialisti80
552       Marundi65
553         Eusur90
554   Mindirranya33
555    Phiallylis33
556          Isty55
557     Frichilsa31
558      Chanista95
559      Aellyria80
560   Rastynusuir31
561        Iljask75
562     Lisjaskan36
563   Mindjasksya61
564  Frichirranya75
565         Ilast79
566       Eratiel90
567         Assim27
568         Irith83
569       Ilosian36
570    Iskossasda43
571          Hala31
572      Jiskjask80
573      Aethedru70
574      Yathecal72
575         Sisur91

[576 rows x 1 columns]

In [22]:
merge_test = pn.merge(M, left_index=True, right_index=True)
merge_test

               SN_x             SN_y                 Gender  Age
0           Lisim78          Lisim78                   Male   20
1       Lisovynya38      Lisovynya38                   Male   40
2        Ithergue48       Ithergue48                   Male   24
3     Chamassasya86    Chamassasya86                   Male   24
4         Iskosia90        Iskosia90                   Male   23
5           Yalae81          Yalae81                   Male   22
6         Itheria73        Itheria73                   Male   36
7       Iskjaskst81      Iskjaskst81                   Male   20
8         Undjask33        Undjask33                   Male   22
9       Chanosian48      Chanosian48  Other / Non-Disclosed   35
10        Inguron55        Inguron55                   Male   23
11     Haisrisuir60     Haisrisuir60                   Male   23
12     Saelaephos52     Saelaephos52                   Male   21
13      Assjaskan73      Assjaskan73                   Male   22
14      Saesrideu94      Saesrideu94                   Male   35
15        Lisassa64        Lisassa64                 Female   21
16        Lisirra25        Lisirra25                   Male   20
17        Zontibe81        Zontibe81                   Male   21
18        Reunasu60        Reunasu60                 Female   22
19        Chamalo71        Chamalo71                   Male   30
20     Iathenudil29     Iathenudil29                   Male   20
21    Phiarithdeu40    Phiarithdeu40                   Male   20
22     Siarithria38     Siarithria38  Other / Non-Disclosed   38
23         Eyrian71         Eyrian71                   Male   40
24          Siala43          Siala43                   Male   30
25        Lisirra87        Lisirra87                   Male   29
26       Lirtossa84       Lirtossa84                   Male   11
27          Eusri44          Eusri44                   Male    7
28           Aela59           Aela59                   Male   21
29          Tyida79          Tyida79                   Male   24
..              ...              ...                    ...  ...
546    Chanosiaya39       Sondadar26                   Male    9
547       Assylla81      Malarrian73                   Male   18
548       Aidaira26       Yathecal82                 Female   20
549        Eudanu84       Maluncil97  Other / Non-Disclosed   25
550      Chamiman85        Ilunyon70                   Male   20
551     Tyialisti80            Iri67                   Male   20
552       Marundi65         Hiaral50                   Male   15
553         Eusur90          Yadam35                   Male   28
554   Mindirranya33         Dyally87                   Male   22
555    Phiallylis33  Pheosurllorin41                 Female   23
556          Isty55    Frichocesta66                   Male   20
557     Frichilsa31       Frichaya88                   Male   42
558      Chanista95    Lassadarsda57                 Female   25
559      Aellyria80        Iasrira89                   Male   23
560   Rastynusuir31        Zontibe81                   Male   21
561        Iljask75     Chanastnya43                   Male   22
562     Lisjaskan36        Marynde90                   Male   30
563   Mindjasksya61           Isri34                   Male   38
564  Frichirranya75       Chamjask73                 Female   22
565         Ilast79      Assastnya25                   Male   20
566       Eratiel90       Ardonmol96                   Male   20
567         Assim27    Lassirrasda85                   Male   20
568         Irith83         Syally44                   Male   17
569       Ilosian36    Baelollodeu94                 Female   20
570    Iskossasda43       Chadossa56                   Male   20
571          Hala31       Poshilsa82                   Male   16
572      Jiskjask80    Yoishirrala98                 Female   17
573      Aethedru70       Sundista37                   Male   26
574      Yathecal72         Undare39                   Male   23
575         Sisur91       Sondadar26                   Male    9

[576 rows x 4 columns]

In [23]:
Gen= merge_test[("Gender")].value_counts()
Gen

Male                     476
Female                    88
Other / Non-Disclosed     12
Name: Gender, dtype: int64

In [24]:
purchase_data.drop_duplicates(subset=["SN"]).shape

(576, 7)

In [25]:
merge_test.dtypes

SN_x      object
SN_y      object
Gender    object
Age        int64
dtype: object

In [26]:
pct= (merge_test["Gender"]).value_counts(normalize=True).round(2)*100
print(pct)

Male                     83.0
Female                   15.0
Other / Non-Disclosed     2.0
Name: Gender, dtype: float64

In [27]:
j= pd.concat(([Gen,pct]), axis=1)
print(j)

                       Gender  Gender
Male                      476    83.0
Female                     88    15.0
Other / Non-Disclosed      12     2.0

In [28]:
j.columns=["Total Count","Percentage of Players"]
j
#Gender Demographics

                       Total Count  Percentage of Players
Male                           476                   83.0
Female                          88                   15.0
Other / Non-Disclosed           12                    2.0

In [29]:
PA= pd.DataFrame(purchase_data, columns=["Gender","Item ID", "Price"])
PA.head()

  Gender  Item ID  Price
0   Male      108   3.53
1   Male      143   1.56
2   Male       92   4.88
3   Male      100   3.27
4   Male      131   1.44

In [30]:
isi= PA.set_index('Gender')

In [31]:
plz= isi.loc[("Male", "Female", "Other / Non-Disclosed"), ("Item ID")]
plz

Gender
Male                     108
Male                     143
Male                      92
Male                     100
Male                     131
Male                      81
Male                     169
Male                     162
Male                      21
Male                      95
Male                     162
Male                     116
Male                       4
Male                     165
Male                      40
Male                     161
Male                      89
Male                      57
Male                     168
Male                     151
Male                     141
Male                     178
Male                      71
Male                      96
Male                     119
Male                      37
Male                     140
Male                     179
Male                     133
Male                      44
                        ...
Female                    53
Female                   178
Female                    82
Female                    66
Female                   145
Female                     1
Female                    58
Female                   130
Female                   103
Female                   104
Female                    12
Female                   127
Female                    79
Female                    92
Female                    60
Other / Non-Disclosed    136
Other / Non-Disclosed     24
Other / Non-Disclosed    160
Other / Non-Disclosed     41
Other / Non-Disclosed     80
Other / Non-Disclosed     16
Other / Non-Disclosed     39
Other / Non-Disclosed     35
Other / Non-Disclosed     34
Other / Non-Disclosed     46
Other / Non-Disclosed     39
Other / Non-Disclosed    146
Other / Non-Disclosed    107
Other / Non-Disclosed    163
Other / Non-Disclosed    146
Name: Item ID, Length: 780, dtype: int64

In [61]:
numM= plz["Male"].count()
numM

652

In [62]:
numF= plz["Female"].count()
numF

113

In [63]:
numO= plz["Other / Non-Disclosed"].count()
numO

15

In [36]:
precio= isi.loc[("Male", "Female", "Other / Non-Disclosed"), ("Price")]
precio

Gender
Male                     3.53
Male                     1.56
Male                     4.88
Male                     3.27
Male                     1.44
Male                     3.61
Male                     2.18
Male                     2.67
Male                     1.10
Male                     4.74
Male                     2.67
Male                     4.18
Male                     1.70
Male                     4.86
Male                     2.52
Male                     1.76
Male                     4.64
Male                     4.60
Male                     1.48
Male                     3.40
Male                     3.19
Male                     4.23
Male                     1.61
Male                     3.09
Male                     4.32
Male                     3.16
Male                     2.94
Male                     4.48
Male                     4.09
Male                     2.38
                         ...
Female                   2.05
Female                   4.23
Female                   4.90
Female                   4.40
Female                   4.58
Female                   3.26
Female                   4.14
Female                   2.07
Female                   4.35
Female                   1.93
Female                   1.02
Female                   3.92
Female                   4.05
Female                   4.88
Female                   3.54
Other / Non-Disclosed    3.58
Other / Non-Disclosed    3.81
Other / Non-Disclosed    4.40
Other / Non-Disclosed    4.75
Other / Non-Disclosed    3.39
Other / Non-Disclosed    3.55
Other / Non-Disclosed    3.94
Other / Non-Disclosed    3.45
Other / Non-Disclosed    2.22
Other / Non-Disclosed    1.33
Other / Non-Disclosed    3.94
Other / Non-Disclosed    3.10
Other / Non-Disclosed    2.18
Other / Non-Disclosed    3.45
Other / Non-Disclosed    3.10
Name: Price, Length: 780, dtype: float64

In [65]:
MM= precio["Male"].mean()
MM

3.0178527607361953

In [66]:
MF= precio["Female"].mean()
MF

3.203008849557519

In [67]:
MO= precio["Other / Non-Disclosed"].mean()
MO

3.3460000000000005

In [40]:
am= precio["Male"].sum()
am

1967.64

In [41]:
af= precio["Female"].sum()
af

361.94

In [58]:
ao= precio["Other / Non-Disclosed"].sum()
ao

50.19

In [51]:
precio.sum()

2379.77

In [52]:
male_count= 476

In [53]:
female_count= 88

In [56]:
other_count= 12

In [146]:
avgplayM= am/male_count
avgplayM

4.133697478991597

In [147]:
avgplayF= af/female_count
avgplayF

4.112954545454546

In [148]:
avgplayo= ao/other_count
avgplayo

4.1825

In [165]:
purchaseA= pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": [numF, numM, numO], 
                         "Average Purchase Price": [MF, MM, MO],
                           "Total Purchase Value": [af, am, ao],
                           "Avg Total Purchase per Person": [avgplayF, avgplayM, avgplayO], 
                        })
purchaseA

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.203009,361.94,4.112955
1,Male,652,3.017853,1967.64,4.133697
2,Other / Non-Disclosed,15,3.346000,50.19,4.182500

In [166]:
noo= pd.DataFrame(purchaseA).set_index('Gender')
noo

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.112955
Male,652,3.017853,1967.64,4.133697
Other / Non-Disclosed,15,3.346000,50.19,4.182500

In [167]:
noo["Average Purchase Price"] = noo["Average Purchase Price"].map(
    "${0:,.2f}".format)
noo["Total Purchase Value"] = noo["Total Purchase Value"].map(
    "${0:,.2f}".format)
noo["Avg Total Purchase per Person"] = noo["Avg Total Purchase per Person"].map(
    "${0:,.2f}".format)
noo

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.11
Male,652,$3.02,"$1,967.64",$4.13
Other / Non-Disclosed,15,$3.35,$50.19,$4.18